<h2>O produto {{user.nameProd}} do fornecedor {{user.nameForn}} foi comprado no dia {{user.dataComp}} no valor {{user.valorComp}} e deve ser vendido por {{user.valorVen}} na categoria {{user.categ}}  </h2>

<a href="/">Home</a>
<a href="/users/add">Novo Produto</a>