{{#if auth}}


<h2>O carro {{user.marca}} com a potênia de motor de {{user.potenMotor}} de nome {{user.name}} foi fabricado em {{user.anoFabri}} e tem a cor {{user.cor}} </h2>

<a href="/">Home</a>
<a href="/users/add">Novo Usuário</a>
{{/if}}